* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	font-size: 16px;
	box-sizing: border-box;
}

html,
body,
#root {
	height: 100%;
	width: 100%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI",
		"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: rgb(33, 33, 33);
	background: rgb(245, 250, 252);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

button,
input,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
	box-sizing: border-box;
}

ul,
ol,
li {
	display: block;
	list-style: none;
}
